/* We just need to center the app when logging in */
body {
  margin: 0;
}

/* This targets the login/register page */
#root:has(.card) {
  display: flex;
  place-items: center;
  min-height: 100vh;
}